/*
Error: Inconsistent indentation: "\t\t\t\t\t\t\t\t\t \t" was used for indentation, but the rest of the document was indented using 1 tab.
        on line 83 of /home/ubuntu/workspace/resources.html

78: 											
79: 											<label for="message">Message</label>
80: 											<textarea name="message" id="message" rows="5"></textarea>
81: 										</div>
82: 										
83: 									 	<ul class="actions">
84: 											<li><a href="mailto:pawswapp@gmail.com" class="button submit">Report</a></li>
85: 										</ul>
86: 									</form>
87: 								</section>
88: 								<section>

Backtrace:
/home/ubuntu/workspace/resources.html:83
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/engine.rb:483:in `block in tabulate'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/engine.rb:441:in `each'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/engine.rb:441:in `each_with_index'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/engine.rb:441:in `tabulate'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/engine.rb:406:in `_to_tree'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/engine.rb:295:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin.rb:82:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:361:in `watch_or_update'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:51:in `process_result'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/exec/base.rb:52:in `parse'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.19/bin/scss:13:in `<top (required)>'
/usr/local/rvm/gems/ruby-2.2.1/bin/scss:23:in `load'
/usr/local/rvm/gems/ruby-2.2.1/bin/scss:23:in `<main>'
/usr/local/rvm/gems/ruby-2.2.1/bin/ruby_executable_hooks:15:in `eval'
/usr/local/rvm/gems/ruby-2.2.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: \"\t\t\t\t\t\t\t\t\t \t\" was used for indentation, but the rest of the document was indented using 1 tab.\A         on line 83 of /home/ubuntu/workspace/resources.html\A \A 78: 											\A 79: 											<label for=\"message\">Message</label>\A 80: 											<textarea name=\"message\" id=\"message\" rows=\"5\"></textarea>\A 81: 										</div>\A 82: 										\A 83: 									 	<ul class=\"actions\">\A 84: 											<li><a href=\"mailto:pawswapp@gmail.com\" class=\"button submit\">Report</a></li>\A 85: 										</ul>\A 86: 									</form>\A 87: 								</section>\A 88: 								<section>"; }
